# === Server ===
NODE_ENV=production
PORT=3000
HOST=0.0.0.0
LOG_LEVEL=info
CORS_ORIGIN=https://kietec-app.kriwi-dl.de

# === Database ===
DATABASE_URL=postgresql://USER:PASSWORD@HOST:5432/DBNAME?schema=public

# === Auth ===
JWT_SECRET=ZUFALLSWERT_64+_ZEICHEN

# === sevdesk ===
SEVDESK_API_TOKEN=
SEVDESK_API_URL=https://my.sevdesk.de/api/v1

# === E-Mail (SMTP) ===
SMTP_HOST=smtp.webspace.bz
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=info@kriwi-dl.de
SMTP_PASS="!So2017phiE#"
EMAIL_FROM=info@kriwi-dl.de
EMAIL_FROM_NAME=KDS Kienitz UG