node_modules
# Keep environment variables out of version control
.env

/generated/prisma

# Backend Secrets
backend/.env
backend/.env.local
backend/.env.production

# Uploads (lokal nur, Production hat Volume)
backend/uploads/